FAKEDOMAIN {
    gzip
    proxy / www.lse.ac.uk
    proxy /FAKEPATH localhost:35666 {
        without /FAKEPATH
        websocket
    }
    tls {
        dns cloudflare
    }
    timeouts {
        idle 5m
    }
}
