:80 {
    redir https://FAKEDOMAIN{uri}
}

FAKEDOMAIN {
    gzip
    timeouts none
    proxy / www.lse.ac.uk {
        except /FAKEPATH robots.txt
    }
    proxy /FAKEPATH v2ray:35666 {
        without /FAKEPATH
        websocket
    }
    tls {
        dns cloudflare
    }
}
